<!DOCTYPE html>
<html lang="en" ng-app="browzeApp" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ZooKeeper Browser">

  <title>BrowZe</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/tree-control.css">
  <link rel="stylesheet" type="text/css" href="css/browze.css">
</head>

<body ng-controller="BrowzeController" ng-init="init()">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Browze</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div ng-show="connecting" class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Connecting to <strong>{{connectString}}</strong> ...
      </div>
      <form ng-submit="connect()" ng-show="!connecting && (!connected || connectStringEdit)">
        <strong>Connect to:&nbsp;</strong>
        <input id="zkConnectString" type="text" placeholder="ZooKeeper connection string"
               ng-model="connectString" required style="width: 20%;"
               ng-keydown="connectStringKeyDown($event)">
        <input type="submit" id="submit" value="Connect">
      </form>
      <div ng-show="connected && !connectStringEdit" class="alert alert-success" role="alert">
        <strong>Connected to:&nbsp;</strong><samp>{{connectString}}</samp>&nbsp;
        <button type="button" class="btn btn-link btn-xs" ng-click="editConnectString()">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
      </div>
		</div>
  </div>
  <div class="row" ng-show="connected">
    <div class="col-md-3" style="height: 900px; overflow: auto;">
       <div class="table-responsive">
        <table class="table">
          <tr><td style="border: 0px solid;">
            <div ng-show="browsing" class="alert alert-warning" role="alert">
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> BrowZing ...
            </div>
			      <treecontrol class="tree-classic"
			                   tree-model="treedata"
			                   options="treeOptions"
			                   selected-node="selectedNode"
			                   expanded-nodes="expandedNodes"
			                   on-selection="showSelected(node, selected)"
			                   on-node-toggle="showToggle(node, expanded)">
			        {{node.label}}
			      </treecontrol>
          </td></tr>
        </table>
      </div>
    </div>
    <div class="col-md-9 main">
      <div ng-show="errorMsg != null" class="alert alert-danger" role="alert">
        <strong>{{errorMsg}}</strong>
      </div>
      <div ng-show="errorMsg == null">
	      <div>
	        <h3 class="selected-path">
	          <span ng-repeat="node in selectedPath track by $index" ng-class="{active : $last}">
	            <span ng-show="($first && !$last) || $middle"><a href="#{{selectedFullPath($index)}}">{{node | pathLabel}}</a> / </span>
	            <span ng-show="($last && !$first) || ($last && $first && selectedPath.length == 1)">{{node | pathLabel}}</span>
	          </span>
	        </h3>
	      </div>
	
	      <div>
	        <h4><strong>Stat:</strong></h4>
	        <pre>{{ selectedNodeStat | json}}</pre>
	      </div>
	
	      <div style="margin-top: 20px;">
	        <h4><strong>Data:</strong></h4>
	        <pre>{{ selectedNodeData }}</pre>
	      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<script type="text/javascript" src="js/angular-tree-control.js"></script>
<script type="text/javascript" src="js/browze.js"></script>
<script type="text/javascript" src="js/services.js"></script>

</body>
</html>
